@model Etsy_DTO.Payment.ReturnAddUpdatePaymentDTO
@using Etsy_DTO.Payment;

<h1 class="mt-4">@ViewBag.Editpay</h1>




<form asp-action="Edit">
    <input type="hidden" asp-for="PaymentID" />

    <div>
        <label asp-for="TotalPrice"></label>
        <input asp-for="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" style="color:red"></span>
    </div>
    <div>
        <label asp-for="Response"></label>
        <input asp-for="Response" class="form-control" />
        <span asp-validation-for="Response" style="color:red"></span>
    </div>
    <div>
        <label asp-for="CustomerId"></label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" style="color:red"></span>
    </div>
    <div>
        <label asp-for="OrderId"></label>
        <input asp-for="OrderId" class="form-control" />
        <span asp-validation-for="OrderId" style="color:red"></span>
    </div>

    <button class="btn btn-primary mt-3" type="submit">@ViewBag.UpdateP</button>
</form>
<a asp-action="Index" class="btn btn-info mt-3">@ViewBag.BtLP</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}