@model Etsy_DTO.Category.ReturnAddUpdateCategoryDTO
@using Etsy_DTO.Category;

<h1>@ViewBag.EditC</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="NameEN"></label>
        <input asp-for="NameEN" class="form-control" />
        <span asp-validation-for="NameEN" style="color:red"></span>
    </div>
    <div>
        <label asp-for="NameAR"></label>
        <input asp-for="NameAR" class="form-control" />
        <span asp-validation-for="NameAR" style="color:red"></span>
    </div>
    <div>
        <label asp-for="BaseCategoryId"></label>
        <input asp-for="BaseCategoryId" class="form-control" />
        <span asp-validation-for="BaseCategoryId" style="color:red"></span>
    </div>

    <div>
        <label asp-for="CategoryImage"></label>
        <input asp-for="CategoryImage" class="form-control" />
        <span asp-validation-for="CategoryImage" style="color:red"></span>
    </div>

    <button class="btn btn-primary mt-3" type="submit">@ViewBag.EUpdateC</button>
</form>
<a asp-action="Index" class="btn btn-info mt-3">@ViewBag.BtLC</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
